@font-face {
    font-family: 'Caveat';
    src: url('./Caveat-VariableFont_wght.ttf');
    font-weight: bold;
}

body {
    background-image: url('./bubbleBG.jpg');
    background-size: cover;
}

#navbar {
    height: 140px;
    width: 100vw;
    background-image: url('./WoodBG.jpg');
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

#logo {
    height: 80%;
}

.menu-item {
    color: rgb(202, 202, 202);
    font-size: 36px;
    font-family: 'Caveat';
    cursor: pointer;
}