@font-face {
    font-family: 'Caveat';
    src: url('./Caveat-VariableFont_wght.ttf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./bubbleBG.jpg');
    background-size: cover;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#navbar {
    height: 140px;
    width: 100vw;
    background-image: url('./WoodBG.jpg');
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

#logo {
    height: 80%;
}

.menu-item {
    color: rgb(202, 202, 202);
    font-size: 36px;
    font-family: 'Caveat';
    cursor: pointer;
}

#home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    width: 65%;
}

#picture {
    height: 50vh;
}

#greeting {
    font-family: serif;
    font-size: 50px;
    text-align: center;
    color: rgb(241, 248, 255);
    font-weight: bolder;
    text-shadow: 2px 2px rgb(63, 63, 63);
}

#grub {
    font-family: 'Caveat';
    color: rgb(73, 73, 73);
    background-color: rgb(107, 209, 223);
    border-radius: 20px;
    padding: 20px 70px;
    margin-top: 100px;
}

#grub > h2 {
    font-size: 70px;
}

#grub > h3 {
    font-size: 36px;
    margin-top: 15px;
}

#grub > p {
    font-size: 20px;
    margin: 10px;
}