body {
    background-image: url('./bubbleBG.jpg');
    background-size: cover;
}

#navbar {
    height: 140px;
    width: 100vw;
    background-image: url('./WoodBG.jpg');
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 80%;
}